<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的 ASP.NET 应用程序</title>
    <link href="/layim/layim/css/layim.css" type="text/css" rel="stylesheet" />

</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2016级 xx专业毕业设计</p>
        </footer>
    </div>

      @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="http://localhost:60661/layim/hubs"></script>
    <script src="~/Scripts/signalr/client.hub.js"></script>
    <script src="/layim/layim/lay/lib.js"></script>
    <script src="/layim/layim/lay/layer/layer.min.js"></script>
    <script src="/layim/layim/lay/layer/extend/layer.ext.js"></script>
    <script src="/layim/layim/lay/layim.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <script>
        var chatImgArr = [];
        var chatFilesArr = [];

        $(function () {
            var isLogin = location.href.toLowerCase().indexOf('login') > -1;
            var userInfo = localStorage.getItem("layim_current_user");
            if (userInfo) {
                if (isLogin) {
                    window.location.href = "/";
                } else {
                    csClient.init({
                        serverUrl: 'http://localhost:60661/layim'
                    });
                }
            } else {
                if (!isLogin) {
                    window.location.href = "/home/login";
                }
            }
        });

        function fileUploadSuccess(result) {
            //{url: "/upload/e417d228-9015-42ed-b1ef-b8c099ce8891.png", name: "QQ图片20160506192145.png", ext: ".png", name1: "e417d228-9015-42ed-b1ef-b8c099ce8891.png", t: "img"}
            var $text = $('#layim_write');
            var txt = $text.val();
            var isImg = result.t == "img";
            var type = isImg ? '图片' : '附件';
            var newName = '[' + type + '：' + result.name + ']';
            txt = txt + newName;
           
            $text.val(txt);
            var arr = { name: newName, url: result.url };
            if (isImg) {
                chatImgArr.push(arr);
            } else {
                chatFilesArr.push(arr);
            }

        }


        function save(i) {
            var formName = "";
            switch (i) {
                case 1://上传聊天图片
                    formName = "filePostImage";
                    break;
                case 2://上传附件
                    formName = "filePostFile";
                    break;
                case 3://修改头像
                    formName = "filePostUserPhoto";
                    break;
            }
            var updatePhotoSuccess = function () {
                alert("头像更换成功");
            };
            var options = {

                beforeSubmit: function () { },
                error: function () { },
                success: i == 3 ? updatePhotoSuccess : fileUploadSuccess
            };
            $('#' + formName).ajaxSubmit(options);
        }
    </script>
</body>
</html>
